#leftcontent {
    padding: 0;
    margin: 0;
}

#rightcontent, .rightcontent {
	position: absolute;
	top: 0;
	left: 20em;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#bottomcontrols {
    padding: 0;
    bottom: 0px;
    height: 2.8em;
    width: 20em;
    margin: 0;
    background: #eee;
    border-top: 1px solid #ccc;
    position: fixed;
    -moz-box-shadow: 0 -3px 3px -3px #000;
    -webkit-box-shadow: 0 -3px 3px -3px #000;
    box-shadow: 0 -3px 3px -3px #000;
}

.loading {
	position: absolute;
	left: 50%;
	top: 200px;
}

.mail_account {
	padding: .5em .8em;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

button.control {
    float: left;
    margin: 0.2em 0 0 1em;
    height: 2.4em;
    width: 2.4em; /* border: 0 none; border-radius: 0; -moz-box-shadow: none; box-shadow: none; outline: 0 none;*/
}

table#mail_messages {
	width: 100%;
}

.settings {
    background: url('%webroot%/core/img/actions/settings.svg') no-repeat center;
    float: right !important;
    margin: 0.2em 1em 0 0 !important;
}

/*#content-wrapper {*/
	/*background: #eee;*/
/*}*/

#mail-setup {
	font-size: 1.5em;
	margin: 2em auto 0;
}

#mail-setup fieldset {
	width: 17em;
	margin: 5em auto 2em;
	padding: 0;
}

#mail-setup legend {
	text-align: center;
}

#mail-setup input[type="text"],
#mail-setup input[type="password"] {
	width: 100%;
	box-sizing: border-box;
}

#mail-setup label.infield{
	position: absolute;
	width: 90%;
	padding-left: 0;
	font-size: 19px;
	color: #aaa;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#mail-setup .groupbottom label {
	top: .65em;
}

.connect {
	font-size: 1em;
	float: right;
}

#new-message {
	width: 60%;
	margin: 10px;
}

reply-message-fields {
	width: 60%;
	margin: 10px;
}

.mail_message_summary.template {
    display: none;
}

.mail_message_summary {
}

#mail_messages>tbody>tr {
	height: 40px;
}

#mail_messages>tbody>tr>td {
    border-top: 1px solid #eee;
}

#mail_messages>tbody>tr.unseen>td {
    font-weight: bold;
}

.mail_message_summary_info {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
}

.mail_message_summary_subject {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
}

.mail_message_summary_date {
    padding-left: 5px;
}

.mail_message_loading {
    display: none;
}

/* editor */
.ui-autocomplete-loading {
    background: white url('%webroot%/core/img/loading.gif') right center no-repeat;
}

#to {
    width: 95%;
}

#subject {
    width: 95%;
}

#new-message-body {
    width: 95%;
    height: 100px;
    resize: none;
}

.reply-message-body {
	width: 95%;
	height: 50px;
	resize: none;
}

.unread-count {
	float: right;
}

.unread {
	font-weight: bold;
}