.loading {
	position: absolute;
	left: 50%;
	top: 50%;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.mail-account {
	width: 100%;
}


/* SETUP */
#setup {
	z-index: 1001;
	width: 250px;
	top: 15%;
	padding-bottom: 50px;
	margin: 0 auto;
	padding-top: 30px;
}
#setup h2 {
	text-align: center;
	position: relative;
	width: 300%;
	left: -100%;
	margin-bottom: 20px;
}
#setup input {
	width: 100%;
	box-sizing: border-box;
}

#setup .toggle-manual-mode {
	background-position: right;
	padding-right: 16px;
	margin-left: 6px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	opacity: .3;
}

#setup-imap-ssl,
#setup-smtp-ssl {
	float: right;
	margin: -3px -3px -52px 0;
	z-index: 100;
}
#setup-imap-ssl label,
#setup-smtp-ssl label {
	opacity: .4;
}

#connect-loading {
	position: absolute;
	top: 206px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
}

/* app navigation */

/* fix scrolling */
#app-navigation {
	overflow-y: auto;
	overflow-x: hidden;
}

#app-navigation .utils {
	padding: 0 7px;
}

/* do not display empty folders in the sidebar */
#app-navigation .empty {
	display: none;
}

#app-navigation .special-inbox,
#app-navigation .special-all {
	display: block;
}


/* do not overlap collapse icon with special use icon */
#app-navigation .special-inbox .collapse,
#app-navigation .special-drafts .collapse,
#app-navigation .special-sent .collapse,
#app-navigation .special-trash .collapse {
	display: none !important;
}
#app-navigation .special-inbox:hover .collapse,
#app-navigation .special-inbox:focus .collapse,
#app-navigation .special-drafts:hover .collapse,
#app-navigation .special-drafts:focus .collapse,
#app-navigation .special-sent:hover .collapse,
#app-navigation .special-sent:focus .collapse,
#app-navigation .special-trash:hover .collapse,
#app-navigation .special-trash:focus .collapse {
	display: inline-block !important;
}


/* START: should be done in core/apps.css */

#app-navigation .collapse {
	display: inline-block !important;
	opacity: .3;
}

#app-navigation ul {
	overflow-x: hidden;
}

#app-navigation ul ul {
	display: block;
}

#app-navigation ul ul ul {
	display: none;
}

#app-navigation ul ul li > a {
	padding-left: 32px;
}

#app-navigation .with-icon ul li > a,
#app-navigation .with-icon ul li.app-navigation-entry-loading > a {
	padding-left: 68px;
	background-position: 44px center;
}

#app-navigation ul .collapsible.open:hover {
	box-shadow: inset 0 0 3px #ddd;
}

#app-navigation ul .collapsible.open ul {
	display: block;
}
/* STOP: should be done in core/apps.css */

#emptycontent,
#mail-messages #emptycontent.emptycontent-search {
	position: static;
}
#mail-messages #emptycontent.emptycontent-search h2 {
	line-height: 150%;
}
#mail-messages #emptycontent {
	position: absolute;
}

.mail-account-email {
	display: inline-block;
	opacity: .5;
	padding: 20px 0 10px 25px;
	width: 90%;
	margin: initial;
	font-size: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mail-account-email:first-child {
	padding-top: 50px;
}

.mail-account-color {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: relative;
	left: 15px;
	top: -12px;
}

.mail-message-account-color {
	position: absolute;
	width: 2px;
	height: 69px;
	z-index: 1;
}


/* settings */

.mailaccount-list li {
	padding: 10px 0;
}
.mailaccount-list .mail-account-name {
	display: inline-block;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mailaccount-list .actions {
	display: inline-flex;
	position: absolute;
	right: 0;
	min-height: 16px;
	min-width: 16px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	opacity: .25;
}
.mailaccount-list .actions:hover,
.mailaccount-list .actions:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}


/* app content*/

#mail-messages {
	width: 30%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#load-new-mail-messages,
#load-more-mail-messages {
	display: none;
	margin: 10px auto;
	padding: 10px;
}
#load-more-mail-messages {
	margin-bottom: 250px;
}
/* TODO: put this in core icons.css as general rule for buttons with icons */
#load-new-mail-messages.icon-loading-small,
#load-more-mail-messages.icon-loading-small {
	padding-left: 32px;
	background-position: 9px center;
}

.mail-message-header {
	height: 68px;
}

.mail-message-summary {
	border-top: 1px solid #eee;
	position: relative;
}
.mail-message-summary:hover,
.mail-message-summary:focus,
.mail-message-summary.active {
	background-color: #f8f8f8;
}

.mail-message-summary * {
	cursor: pointer;
}

.sender-image {
	display: inline-block;
	position: absolute;
	padding: 5px;
	padding-left: 10px;
}

.mail-message-summary-from,
.mail-message-summary-subject,
.date {
	display: inline-block;
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-message-summary-from {
	width: 55%;
	margin-left: 37px;
	padding-bottom: 0;
	opacity: .5;
}

.mail-message-summary-subject {
	padding-top: 0;
	width: 75%;
	margin-left: 37px;
}

.date {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 40%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}

.mail-message-summary.unseen .mail-message-summary-from,
.mail-message-summary.unseen .mail-message-summary-subject,
.mail-message-summary.unseen .date {
	font-weight: bold;
}

#mail-messages .action.delete {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	opacity: .15;
}
#mail-messages .action.delete:hover,
#mail-messages .action.delete:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}

#app-navigation .msg.success {
	color: #fff;
	background-color: #47a447;
	padding: 3px;
}
#app-navigation .msg.error {
	color: #fff;
	background-color: #d2322d;
	padding: 3px;
}

/* editor */
#mail-new-message-fixed {
	position: fixed !important;
	width: 241px !important;
	z-index: 1;
	padding-bottom: 12px;
	background-color: rgba(255, 255, 255, .75);
}
#mail-new-message-list {
	margin-top: 36px;
}
#mail_new_message {
	width: 92%;
	padding: 10px;
	padding-left: 34px;
	margin: 10px 10px 0;
	background-position: 10px center;
	text-align: left;
}

.message-composer {
	margin: 10px;
	z-index: 100;
}
#reply-composer .message-composer {
	margin: 0;
}
.composer-fields {
	position: relative;
}
input.to,
input.cc,
input.bcc,
input.subject,
textarea.message-body {
	width: 100%;
}

/* border and radius style rules to be replaced by grouptop, groupbottom etc
	once https://github.com/owncloud/core/pull/9847 is merged and backported */
input.to {
	margin: 0;
	padding-right: 60px; /* for cc-bcc-toggle */
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.composer-cc-bcc {
	position: relative;
}
label.to-label,
label.cc-label,
label.bcc-label {
	position: absolute;
	left: 0;
	top: 0;
	padding: 6px;
	cursor: text;
}
label.bcc-label {
	top: initial;
	bottom: 0;
}
input.to,
input.cc,
input.bcc {
	padding-left: 30px;
}

.composer-cc-bcc-toggle {
	position: absolute;
	right: 0;
	padding: 6px;
}
input.subject,
input.cc,
input.bcc {
	margin: 0;
	border-top: none;
	border-radius: 0;
}
textarea.message-body {
	margin: 0;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	min-height: 300px;
	resize: none;
}
textarea.reply {
	min-height: 100px;
}
input.submit-message,
.submit-message-wrapper {
	position: fixed;
	bottom: 10px;
	right: 15px;
}
.submit-message-wrapper {
	position: fixed;
	height: 36px;
	width: 60px;
}

.submit-message-wrapper-inside {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
#reply-msg {
	float: left;
}

.unread {
	font-weight: bold;
}
/* make sure subfolders of unread folders are not bolded as well */
.unread ul {
	font-weight: normal;
}


.avatar {
	width: 32px;
	height: 32px;
}

.star {
	padding: 20px;
	background-size: 16px;
	display: inline-block;
	position: absolute;
	left: 16px;
	top: 28px;
	z-index: 10;
}
/* only show star on hover of row */
.star.icon-star {
	display: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .3;
}
.star.icon-star:hover,
.star.icon-star:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}
.mail-message-summary.active .star.icon-star,
.mail-message-summary:hover .star.icon-star,
.mail-message-summary:focus .star.icon-star {
	display: inline-block;
}

.icon-reply {
	background-image: url('../img/reply.svg');
	position: absolute;
	left: 49px;
	top: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}
.icon-reply ~ .mail-message-summary-subject {
	margin-left: 57px;
	width: 65%;
}

.icon-attachment {
	position: absolute;
	left: 9px;
	top: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	opacity: .25;
}

.icon-reply,
.icon-attachment {
	min-width: 16px;
	min-height: 16px;
}

.icon-add {
	display: inline-block;
	vertical-align: text-top;
}


/* message display */

#mail-message-header {
	position: fixed;
	height: 90px;
	width: 50%;
	background-color: rgba(255,255,255,.9);
	z-index: 100;
}

#mail-message-header h2,
#mail-message-header p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 7px;
	margin-bottom: 0;
}

#mail-message-close {
	display: none;
}

.mail-message-body {
	margin: 100px 10px 50px 30px;
}
#mail-content iframe {
	width: 100%;
}

#show-images-text {
	display: none;
}

#mail-content a,
.mail-signature a {
	color: #07d;
	border-bottom: 1px dotted #07d;
	text-decoration: none;
	word-wrap: break-word;
}
.mail-signature {
	font-family: monospace;
	opacity: 0.5;
	line-height: initial;
}

.transparency {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}
#mail-message-header .transparency {
	color: rgba(0, 0, 0, .3) !important;
	opacity: 1;
}
#mail-message-header .transparency a {
	color: rgba(0, 0, 0, .5) !important;
}

#mail-message {
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.mail-message-container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}


.new-message-attachments-action {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: bottom
}

.mail-message-attachments {
	margin-bottom: 20px;
}
.mail-message-attachment {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mail-message-attachment-image {
	margin-bottom: 32px;
}
.attachment-save-to-cloud,
.attachment-download {
	height: 32px;
	min-width: 32px;
	float: left;
	display: inline-block;
}
/* show icon + text for Download all button
	as well as when there is only one attachment */
.attachments-save-to-cloud,
.attachments-download,
.mail-message-attachment-single .attachment-save-to-cloud,
.mail-message-attachment-single .attachment-download {
	background-position: 9px center;
	padding-left: 32px;
}
/* show attachment size less prominent */
.attachment-size {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}
.attachment-icon {
	vertical-align: middle;
}

#fileupload {
	display: none;
}

#mail-new-attachment-local {
	display: inline;
}

/* compose (handling mailto links) */

.compose {
	width: 60%;
	margin: 0 auto;
}

/* settings */
.mailaccount-list .mail-account-name {
	display: inline-block;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mailaccount-list .actions {
	opacity: .5;
}
.app-settings-hint {
	margin-top: 15px;
	color: #555;
}

/* icons */
.icon-inbox {
	background-image: url('../img/inbox.svg');
}
.icon-flagged {
	background-image: url('../img/star.svg');
}
.icon-drafts {
	background-image: url('../img/drafts.svg');
}
.icon-sent {
	background-image: url('../img/sent.svg');
}
.icon-archive {
	background-image: url('../img/archive.svg');
}
.icon-junk {
	background-image: url('../img/junk.svg');
}
.icon-trash {
	background-image: url('../img/trash.svg');
}

/* ownCloud 7 compatibility */

.hidden-visually {
	position: absolute;
	left:-10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#emptycontent h2,
.emptycontent h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
#emptycontent [class^="icon-"],
.emptycontent [class^="icon-"],
#emptycontent [class*=" icon-"],
.emptycontent [class*=" icon-"] {
	background-size: 64px;
	height: 64px;
	width: 64px;
	margin: 0 auto 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: .4;
}
