#bottomcontrols {
    padding: 0;
    bottom: 0px;
    height: 2.8em;
    width: 20em;
    margin: 0;
    background: #eee;
    border-top: 1px solid #ccc;
    position: fixed;
    -moz-box-shadow: 0 -3px 3px -3px #000;
    -webkit-box-shadow: 0 -3px 3px -3px #000;
    box-shadow: 0 -3px 3px -3px #000;
}

.loading {
	position: absolute;
	left: 50%;
	top: 50%;
}

.mail_account {
	padding: 12px;
	border-bottom: 1px solid #ddd;
}

button.control {
    float: left;
    margin: 0.2em 0 0 1em;
    height: 2.4em;
    width: 2.4em; /* border: 0 none; border-radius: 0; -moz-box-shadow: none; box-shadow: none; outline: 0 none;*/
}

/*#content-wrapper {*/
	/*background: #eee;*/
/*}*/



/* SETUP */
#mail-setup {
	font-size:1.5em; overflow:hidden;
}
#mail-setup fieldset {
	position:relative; width:17em; margin:5em auto 2em; padding:0;
}
#mail-setup legend {
	text-align:center;
}
#mail-setup input[type="text"],
#mail-setup input[type="password"] {
	width: 100%;
	box-sizing: border-box;
}
.connect {
	font-size: 1em;
	float: right;
}
#connect-loading {
	position:absolute; bottom:15px; left:45%;
}



#new-message {
	width: 60%;
	margin: 10px;
}

reply-message-fields {
	width: 60%;
	margin: 10px;
}


.mail_message_summary {
	height: 44px;
    border-top: 1px solid #eee;
    position: relative;
}

.mail_message_summary_from,
.mail_message_summary_subject,
.date {
    display: inline-block;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail_message_summary_from {
    width: 180px;
}

.date {
    position: absolute;
    right: 0;
}

.mail_message_summary.unseen {
    font-weight: bold;
}

/* float delete icon to the right */
a.action.delete { float:right; }

.mail_message_loading {
    display: none;
}

/* editor */
#to {
    width: 95%;
}

#subject {
    width: 95%;
}

#new-message-body {
    width: 95%;
    height: 100px;
    resize: none;
}

.reply-message-body {
	width: 90%;
	height: 50px;
	resize: none;
}

.unread {
	font-weight: bold;
}
