/*!
 * SPDX-FileCopyrightText: 2016-2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-FileCopyrightText: 2013-2016 ownCLoud, Inc.
 * SPDX-License-Identifier: AGPL-3.0-only
 */
.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.mail-button-row {
	display: flex;
	flex-direction: row;
	gap: var(--default-grid-baseline);
	margin-top: var(--default-grid-baseline);
}

#mail-settings {
	#account-form {
		margin: 0;
		padding-top: 0;
	}
}

.app-settings .modal-wrapper .modal-container {
	overflow: visible !important;

	.modal-container__content {
		border-radius: var(--border-radius-container, var(--border-radius-rounded));
	}
}
