/*!
 * SPDX-FileCopyrightText: 2019-2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
@media only screen and (max-width: var(--breakpoint-mobile)) {
	.app-content-list {
		max-width: 100vw;
	}

	/* full width for message list on mobile */
	#mail-messages {
		width: 100%;
	}

	/* correctly center loading icon on mobile */
	#mail-message-list-loading {
		width: 100%;
	}

	/* overlay message detail on top of message list */
	#mail-message {
		z-index: 100;
		background: var(--color-main-background);
		width: 100%;
		inset-inline-start: 0;
		top: 0;
	}

	#mail-message-close {
		display: block;
		position: fixed;
		inset-inline-end: 0;
		top: 45px;
		width: 44px;
		height: 44px;
		background-size: 24px;
		z-index: 101;
		cursor: pointer;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
		opacity: 0.4;
	}
	#mail-message-close:hover,
	#mail-message-close:focus {
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
		opacity: 0.6;
	}

	.hidden-mobile {
		display: none;
	}

	textarea.message-body {
		padding-inline-end: 12px;
	}

	/* reply-forward actions align to the far right */
	#mail-thread-header .mail-message-actions {
		margin-inline-end: 5px;
	}
}
