@media only screen and (max-width: 768px) {

/* use full width on mobile, don't leave whitespace on left */
.mail-message-body {
	margin-left: 10px;
}

/* make sure text fields occupy full width */
#new-message-fields,
.reply-message-fields {
	width: 100%;
}

/* position attachment picker below message fields */
#new-message-attachments {
	position: relative;
	margin: 0;
	width: 100%;
}

/* end of media query */
}
