@media print {
	#header, #app-navigation, #reply-composer, #forward-button, #mail-message-has-blocked-content,
	.app-content-list, .message-composer, .mail-message-attachments {
		display: none !important;
	}
	#app-content {
		margin-left: 0 !important;
	}
	.mail-message-body {
		margin-bottom: 0 !important;
	}
}
