{
  "plugins": [
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}