# Composer
composer.phar
/vendor/

# Unnecessary bower dependency files
/js/vendor/jquery/src/*
/js/vendor/ical.js/samples/*

# Mac OS
.DS_Store

# test coverage
tests/clover.xml

# Node.js modules
node_modules/

# optimized JS files
js/mail.min.js

# packaged app
build/artifacts

# NetBeans project
nbproject/

translations.js

# JS coverage
coverage/
