# Composer
composer.phar
/vendor/

# Unnecessary bower dependency files
/js/vendor/jquery/src/*
/js/vendor/ical.js/samples/*

# Mac OS
.DS_Store

# test coverage
tests/clover.xml

# Node.js modules
node_modules/

# optimized JS files
# Old r.js
js/mail.min.js
# new webpack
/js/build

# packaged app
build/artifacts

# NetBeans project
nbproject/

# PhpStorm
.idea/

translations.js

# JS coverage
coverage/

# vim
.*.sw?
