# Composer
composer.phar
/vendor/

# Mac OS
.DS_Store

# test coverage
tests/clover.xml

# Node.js modules
node_modules/

/js

# packaged app
build/artifacts

# NetBeans project
nbproject/

translations.js

# JS coverage
coverage/

# vim
.*.sw?
