{{#if emailAddress}}
<div class="mail-account-color" style="background-color: {{accountColor emailAddress}}"></div>
{{/if}}
<h2 class="mail-account-email" title="{{emailAddress}}">{{emailAddress}}</h2>

{{#if hasMenu}}
<div class="app-navigation-entry-utils">
	<ul>
		<li class="app-navigation-entry-utils-menu-button svg"><button></button></li>
	</ul>
</div>

<div class="app-navigation-entry-menu">
	<ul>
		<li><button class="icon-rename svg" title="{{ t 'Settings' }}"></button></li>
		<li><button class="icon-delete svg" title="{{ t 'Delete account' }}"></button></li>
	</ul>
</div>
{{/if}}

<div class="folders with-icon"></div>
{{#unless isUnifiedInbox}}
{{#if hasFolders}}
<span class="account-toggle-collapse">{{toggleCollapseMessage}}</span>
{{/if}}
{{/unless}}