{{#if emailAddress}}
<div class="mail-account-color" style="background-color: {{accountColor emailAddress}}"></div>
{{/if}}
<h2 class="mail-account-email" title="{{emailAddress}}">{{emailAddress}}</h2>

{{#if hasMenu}}
<ul class="app-navigation-entry-utils">
	<li class="app-navigation-entry-utils-menu-button svg"><button></button></li>
</ul>

<ul class="app-navigation-entry-menu popovermenu bubble menu">
	<li>
		<a href="#" class="menuitem action action-settings permanent" data-action="Settings">
			<span class="icon icon-rename"></span>
			<span>{{ t 'Settings' }}</span>
		</a>
	</li>
	{{#if isDeletable}}
    <li>
        <a href="#" class="menuitem action action-delete permanent" data-action="Delete">
			<span class="icon icon-delete"></span>
			<span>{{ t 'Delete account' }}</span>
		</a>
    </li>
	{{/if}}
</ul>
{{/if}}

<div class="folders with-icon"></div>
{{#unless isUnifiedInbox}}
{{#if hasFolders}}
<span class="account-toggle-collapse">{{toggleCollapseMessage}}</span>
{{/if}}
{{/unless}}
