{{#if emailAddress}}
<div class="mail-account-color" style="background-color: {{accountColor emailAddress}}"></div>
{{/if}}
<a href="#" class="icon mail-account-email" title="{{emailAddress}}">{{emailAddress}}</a>

{{#if hasMenu}}
<div class="app-navigation-entry-utils">
	<ul>
		<li class="app-navigation-entry-utils-menu-button svg"><button></button></li>
	</ul>
</div>
<div class="app-navigation-entry-menu">
	<ul>
		<li>
			<a href="#" class="menuitem action action-settings permanent" data-action="Settings">
				<span class="icon icon-rename"></span>
				<span>{{ t 'Settings' }}</span>
			</a>
		</li>
		{{#if isDeletable}}
	    <li>
	        <a href="#" class="menuitem action action-delete permanent" data-action="Delete">
				<span class="icon icon-delete"></span>
				<span>{{ t 'Delete account' }}</span>
			</a>
	    </li>
		{{/if}}
	</ul>
</div>
{{/if}}

<ul class="folders"></ul>
{{#unless isUnifiedInbox}}
{{#if hasFolders}}
<span class="account-toggle-collapse">{{toggleCollapseMessage}}</span>
{{/if}}
{{/unless}}
