<div class="message-composer">
	<select class="mail-account">
		{{#each aliases}}
		<option value="{{id}}">{{ t 'from' }} {{name}} &lt;{{emailAddress}}&gt;</option>
		{{/each}}
	</select>
	<div class="composer-fields">
		<a href="#" class="composer-cc-bcc-toggle transparency
			{{#ifHasCC}}
			hidden
			{{/ifHasCC}}">{{ t '+ cc/bcc' }}</a>
		<input type="text" name="to"
		    value="{{printAddressListPlain to}}"
		    class="to recipient-autocomplete" />
		<label class="to-label transparency" for="to">{{ t 'to' }}</label>
		<div class="composer-cc-bcc
		    {{#unlessHasCC}}
		    hidden
		    {{/unlessHasCC}}">
			<input type="text"
			       name="cc"
			       class="cc recipient-autocomplete"
			       value="{{printAddressListPlain cc}}"
			       />
			<label for="cc" class="cc-label transparency">{{ t 'cc' }}</label>
			<input type="text"
			       name="bcc"
			       class="bcc recipient-autocomplete"
			       value="{{printAddressListPlain bcc}}"
			       />
			<label for="bcc" class="bcc-label transparency">{{ t 'bcc' }}</label>
		</div>
		{{#unless isReply}}
		<input type="text" name="subject" value="{{subject}}" class="subject" autocomplete="off"
			placeholder="{{ t 'Subject' }}" />
		{{/unless}}
		<textarea name="body"
			  class="message-body"
			  placeholder="{{ t 'Message …' }}">{{message}}</textarea>
	</div>
	<div class="submit-message-wrapper">
		<input class="submit-message send primary" type="submit" value="{{submitButtonTitle}}" disabled>
		<div class="submit-message-wrapper-inside" ></div>
	</div>
	<div class="new-message-attachments">
	</div>
</div>
