<div id="app-shortcuts">

	<h2>Keyboard shortcuts</h2>

	<p>Speed up your Mail experience by using keyboard shortcuts.</p>

	<div>
		<div class="one-colspan" colspan="2">Compose</div>
	</div>
	<div class="shortcut-row">
		<span class="desc"> {{ t 'Send' }}</span>
		<span><kbd>Ctrl</kbd> + <kbd>Enter</kbd></span>
	</div>
	<div>
		<div class="one-colspan" colspan="2">Actions</div>
	</div>
	<div class="shortcut-row">
		<span class="desc">{{t 'Refresh'}}</span>
		<span><kbd>R</kbd></span>
	</div>
	<div class="shortcut-row">
		<span class="desc">{{ t 'Toggle star' }}</span>
		<span><kbd>S</kbd></span>
	</div>
	<div class="shortcut-row">
		<span class="desc">{{ t 'Delete' }}</span>
		<span><kbd>Del</kbd></span>
	</div>
	<div class="shortcut-row">
		<span class="desc">{{ t 'Toggle unread' }}</span>
		<span><kbd>U</kbd></span>
	</div>
	<div>
		<div class="one-colspan" colspan="2">Navigation</div>
	</div>
	<div class="shortcut-row">
		<span class="desc">{{t 'Older message'}}</span>
		<span><kbd>J</kbd> or <kbd>→</kbd></span>
	</div>

</div>
