<div id="app-shortcuts" class="section">

	<h2>{{t 'Keyboard shortcuts'}}</h2>

	<p>{{t 'Speed up your Mail experience with these quick shortcuts.'}}</p>

	<dl>
		<div>
			<dt><kbd>K</kbd> or <kbd>←</kbd></dt>
			<dd>{{t 'Newer message'}}</dd>
		</div>
		<div>
			<dt><kbd>J</kbd> or <kbd>→</kbd></dt>
			<dd>{{t 'Older message'}}</dd>
		</div>

		<div>
			<dt><kbd>S</kbd></dt>
			<dd>{{ t 'Toggle star' }}</dd>
		</div>
		<div>
			<dt><kbd>U</kbd></dt>
			<dd>{{ t 'Toggle unread' }}</dd>
		</div>
		<div>
			<dt><kbd>Del</kbd></dt>
			<dd>{{ t 'Delete' }}</dd>
		</div>

		<div>
			<dt><kbd>Ctrl</kbd> + <kbd>F</kbd></dt>
			<dd>{{ t 'Search' }}</dd>
		</div>
		<div>
			<dt><kbd>Ctrl</kbd> + <kbd>Enter</kbd></dt>
			<dd>{{ t 'Send' }}</dd>
		</div>
		<div>
			<dt><kbd>R</kbd></dt>
			<dd>{{t 'Refresh'}}</dd>
		</div>
	</dl>

</div>
