<div id="mail-message-close" class="icon-close"></div>
<div id="mail-message-header" class="section">
	<h2 title="{{subject}}">{{subject}}</h2>
	<p class="transparency">
		{{printAddressList from}}
		{{ t 'to' }}
		{{printAddressList to}}
		{{#if cc.length}}
		({{ t 'cc' }} {{printAddressList cc}})
		{{/if}}
	</p>
</div>
<div class="mail-message-body">
	<div id="mail-content">
		{{#if hasHtmlBody}}
		<div id="show-images-text">
			{{ t 'The images have been blocked to protect your privacy.' }}
			<button id="show-images-button">{{ t 'Show images from this sender' }}</button>
		</div>
		<div class="icon-loading">
			<iframe src="{{htmlBodyUrl}}" seamless>
			</iframe>
		</div>
		{{else}}
		{{{body}}}
		{{/if}}
	</div>
	{{#if signature}}
	<div class="mail-signature">
		{{{signature}}}
	</div>
	{{/if}}

	<div class="mail-message-attachments"></div>
	<div id="reply-composer"></div>
	<div id="options">
		<input type="button" id="forward-button" value="{{ t 'Forward' }}">
		<input type="button" id="print-button" value="{{ t 'Print' }}">
	</div>
</div>
