<div class="app-content-list-item {{#if flags.unseen}}unseen{{/if}} {{#if active}}active{{/if}}" data-message-id="{{id}}">
	{{#if isUnified}}
	<div class="mail-message-account-color" style="background-color: {{accountColor accountMail}}"></div>
	{{/if}}

	{{#if flags.flagged}}
	<div class="star app-content-list-item-star icon-starred" data-starred="true"></div>
	{{else}}
	<div class="star app-content-list-item-star icon-star" data-starred="false"></div>
	{{/if}}

	<div class="app-content-list-item-icon sender-image avatardiv">
		{{#if senderImage}}
		<img src="{{senderImage}}" width="32px" height="32px" />
		{{else}}
		{{#if sender}}
		<div class="avatar" data-user="{{sender.label}}" data-size="32"></div>
		{{else}}
		<div class="avatar" data-user="?" data-size="32"></div>
		{{/if}}
		{{/if}}
	</div>

	<div class="app-content-list-item-line-one" title="{{label}}">{{label}}</div>
	<div class="app-content-list-item-line-two" title="{{subject}}">
		{{#if flags.answered}}
		<span class="icon-reply"></span>
		{{/if}}

		{{#if flags.hasAttachments}}
		<span class="icon-public icon-attachment"></span>
		{{/if}}
		{{subject}}
	</div>
	<div class="app-content-list-item-details date">
			<span class="modified live-relative-timestamp"
				data-timestamp="{{dateMicro}}"
				title="{{formatDate dateInt}}">
				{{relativeModifiedDate dateInt}}
			</span>
		</div>
		<div class="app-content-list-item-menu">
			<div class="icon-more toggle-menu"></div>
			<div class="popovermenu">
				<ul>
					<li>
						<button class="action toggle-read">
							<span class="icon-mail"></span>
							<span>{{ t 'Toggle read' }}</span>
						</button>
					</li>
					<li>
						<button class="action delete">
							<span class="icon-delete"></span>
							<span>{{ t 'Delete' }}</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
