# SPDX-FileCopyrightText: 2020-2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: MIT
name: Packaging
on: pull_request

permissions:
  contents: read

jobs:
  release-tarball:
    runs-on: ubuntu-latest
    name: Build release tarball
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@8205673bab74a63eb9b8093402fd9e0e018663a1 # v2.2
        id: versions
      - name: Set up Nextcloud env
        uses: ChristophWurst/setup-nextcloud@fc0790385c175d97e88a7cb0933490de6e990374 # v0.3.2
        with:
          node-version: ${{ steps.versions.outputs.nodeVersion }}
          npm-version: ${{ steps.versions.outputs.npmVersion }}
          tools: 'krankerl'
      - name: Package app
        run: krankerl package
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          path: build/artifacts/mail.tar.gz
          if-no-files-found: error
