name: Packaging
on: pull_request

permissions:
  contents: read

jobs:
  release-tarball:
    runs-on: ubuntu-latest
    name: Build release tarball
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@v2.0
        id: versions
        with:
          fallbackNode: '^14'
          fallbackNpm: '^7'
      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.versions.outputs.nodeVersion }}
      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g npm@"${{ steps.versions.outputs.npmVersion }}"
      - name: Set up php$
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          extensions: ctype,curl,dom,gd,iconv,intl,json,mbstring,openssl,posix,sqlite,xml,zip
          coverage: none
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Krankerl
        run: |
          wget https://github.com/ChristophWurst/krankerl/releases/download/v0.13.0/krankerl_0.13.0_amd64.deb
          sudo dpkg -i krankerl_0.13.0_amd64.deb
      - name: Package app
        run: krankerl package
      - uses: actions/upload-artifact@v3
        with:
          path: build/artifacts/mail.tar.gz
          if-no-files-found: error
