name: Static analysis

on:
  pull_request:
  push:
    branches:
      - main
      - stable*

permissions:
  contents: read

jobs:
  static-psalm-analysis:
      runs-on: ubuntu-latest
      strategy:
          matrix:
              ocp-version: [ 'dev-stable25', 'dev-stable24', 'dev-stable23' ]
      name: Nextcloud ${{ matrix.ocp-version }}
      steps:
          - name: Checkout
            uses: actions/checkout@v3
          - name: Set up php
            uses: shivammathur/setup-php@v2
            with:
                php-version: 7.4
                coverage: none
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          - name: Install dependencies
            run: composer i
          - name: Install OCP package
            if: ${{ matrix.ocp-version != 'dev-master' && matrix.ocp-version != 'dev-stable24'  }}
            run: composer require --dev christophwurst/nextcloud:${{ matrix.ocp-version }}
          - name: Install OCP package
            if: ${{ matrix.ocp-version == 'dev-master' || matrix.ocp-version == 'dev-stable24' }}
            run: composer require --dev christophwurst/nextcloud:${{ matrix.ocp-version }} --ignore-platform-reqs
          - name: Run coding standards check
            run: composer run psalm
